// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
	background: rgba(204, 204, 204, .3);
	margin: 0 auto;
	padding-left: 500px;
}